.wrapper{style: "background-image: url(/images/sample14.jpeg);"}
  .boxes
    =link_to user_path(current_user.id), class:"select-role" do
      .left-box{style: "background-image: url(/images/sample12.jpeg);"}
        参加グループ一覧
    =link_to categories_path, class:"select-role" do
      .right-box{style: "background-image: url(/images/sample13.jpeg);"}
        趣味で繋がる
= render partial: "shared/footer"