// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.header{
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #f6f6f6;
  height: 56px;
  width: 1150px;
  &__bar{
    width: 100%;
    padding: 0 150px;
    background-color: #333333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    &__left{
      font-size: 25px;
      font-weight: bold;
      line-height: 56px;
      text-decoration: none;
      color: #fff;
    }
    &__right{
      font-size: 20px;
      font-weight: bold;
      line-height: 56px;
      text-decoration: none;
      color: #fff;
    }
  }
  .alert.alert-success{
    width: 1500px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    color: black;
    background-color: #D3D3D3;
  }
}
.wrapper{
  height: calc(100vh - 156px);
  width: 1450px;
  background-color: #777777;
  overflow: scroll;
  margin-top: 56px;
  &__images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 632px;
    .images{
      border-radius: 50px;
      transition: 0.3s;
      &:hover{
        transition: 0.3s;
        transform: scale(1.02, 1.02);
        box-shadow: 0 50px 50px 0 rgba(0, 0, 0, 0.25);
      }
    }
    &__card-img{
      width: 40%;
      position: relative;
      padding: 30px 30px 0px 30px;
      &__image{
        position: absolute;
        bottom: 30px;
        left: 50px;
        font-size: 20px;
        color: oldlace;
        font-weight: bold;
        text-shadow: 0 0 2px #000, 0 0 1px #000, 0 0 1px #000;
        
      }
    }
  }
  .boxes{
    display: flex;
    justify-content: center;
    .select-role{
      text-decoration: none;
      .left-box{
        height: 500px;
        width: 500px;
        font-size: 50px;
        text-align: center;
        font-weight: bold;
        color: antiquewhite;
        line-height: 500px;
        margin-top: 50px;
        margin-right: 50px;
        border: solid 3px #A9A9A9;
        border-radius: 50px;
        &:hover{
          transition: 0.3s;
          transform: scale(1.02, 1.02);
        }
      }
      .right-box{
        height: 500px;
        width: 500px;
        font-size: 50px;
        text-align: center;
        font-weight: bold;
        color: antiquewhite;
        line-height: 500px;
        margin-top: 50px;
        margin-left: 50px;
        border: solid 3px #A9A9A9;
        border-radius: 50px;
        &:hover{
          transition: 0.3s;
          transform: scale(1.02, 1.02);
        }
      }
    }
  }
}

.footer{
  position: fixed;
  bottom: 0;
  height: 100px;
  width: 1450px;
  background-color: #333333;
  display: flex;
  justify-content: space-between;
  color: #fff;
  font-size: 50px;
  line-height: 100px;
  &__user{
    margin: 0 auto;
    color: #fff;
    &__icon{
      background-color: #808080;
      padding: 10px 150px;
      border-radius: 100px;
      &:hover{
        transition: .5s;
        background-color: #BAD3FF;
      }
    }
  }
  &__groups{
    margin: 0 auto;
    color: #fff;
    &__icon{
      background-color: #808080;
      padding: 10px 150px;
      border-radius: 100px;
      &:hover{
        transition: .5s;
        background-color: #BAD3FF;
      }
    }
  }
  &__edit{
    margin: 0 auto;
    color: #fff;
    &__icon{
      background-color: #808080;
      padding: 10px 150px;
      border-radius: 100px;
      &:hover{
        transition: .5s;
        background-color: #BAD3FF;
      }
    }
  }
}
.main-right {
  margin: 56px auto 0;
  width: 1450px;
  height: 650px;
  background-color: #C0C0C0;
}
.check {
  padding: 8px 24px;
  text-align: center;
  font-size: 24px;
  line-height: 34px;
  color: #333333;
  font-weight: 700;
  border-bottom: 1px solid #F5F5F5;
}
.main_form {
  padding: 64px;
}
.form_box {
  width: 50%;
  margin: 30px auto 0;
  font-size: 14px;
  font-weight: 600;
  color: #333333;
  label {
    font-size: 14px;
    font-weight: 600;
    color: #333333;
  }
  p {
    margin-top: 8px;
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
    color: #333333;
  }
  .abso {
    margin-left: 8px;
    font-size: 12px;
    color: #fff;
    font-weight: 400;
    background-color: red;
    padding: 2px 4px;
    border-radius: 2px;;
  }
  .free {
    margin-left: 8px;
    font-size: 12px;
    color: #fff;
    font-weight: 400;
    background-color: #00BFFF;
    padding: 2px 4px;
    border-radius: 2px;;
  }
  .person-image{
    display: none;
  }
  .person{
    margin-top: 30px;
    font-size: 10rem;
    display: block;
  }
  &__input{
    width: 50%;
    height: 48px;
    padding: 10px 16px 8px;
    margin-top: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: block;
  }
  
}
.form_submit {
  background-color: #778899;
  border: solid 1px #778899;
  font-size: 14px;
  font-weight: 400;
  line-height: 48px;
  color: #ffffff;
  width: 50%;
  margin: 60px 350px 0;
  border-radius: 10px;
  &:hover{
    transition: 0.7s;
    background-color: #00BFFF;
  }
}